{% extends "base.html" %}
{% block content %}
<h2 class="text-center mt-4">Nouvelles images ajoutées au dataset</h2>

<div class="row">
    {% for bee in bees %}
    <div class="col-md-3 text-center mt-3">
        <div class="card h-100 shadow-sm">
            <div class="d-flex justify-content-center align-items-center" style="height: 220px; overflow: hidden;">
                <img src="{{ url_for('get_new_image', image_id=bee.id) }}" class="img-fluid" alt="{{ bee.image_name }}" style="max-height: 100%; max-width: 100%; object-fit: contain;">
            </div>
            <div class="card-body">
                <p class="card-text">{{ bee.image_name }} - Varroa: {{ 'Oui' if bee.has_varroa else 'Non' }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}